<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/public/style/list.css">
<title>Engineering Firms</title>
</head>
<body>
  <%- include("nav") %>

  <div class="container">
    <h1 class="title"><%= type === 'engeneering' ? 'Engineering Firms' : type === 'contractor' ? 'Contractors' : 'Freelancers' %></h1>
    <hr>
    <div class="content">
      <% companies.forEach(company => { %>
        <div class="parent">
          <img class="div1" src="data:image/jpeg;base64,<%= company.images[0] %>" alt="<%= company.company_name %> Logo" width="90%">
          <div class="div2">
            <div class="flex-start">
              <p><strong>COMPANY NAME:</strong> <%= company.company_name %></p>
            </div>
          </div>
          <div class="div3">
            <div class="flex">
              <p>LOCATION: <%= company.location %></p>
            </div>
          </div>
          <div class="div4">
            <div class="flex">
              <p><strong>NUMBER:</strong> <%= company.number %></p>
            </div>
          </div>
          <div class="div5">
            <div class="flex-start">
              <p>RATING: <%= company.rating %> <span class="rating"></span></p>
            </div>
          </div>
          <div class="div6">
            <p style="padding-top:20px; margin-bottom: -10px;">Details about the company: <%= company.details %></p>
          </div>
          <div class="div7">
            <a href="/post/<%=type%>/<%=company.id%>" class="more-details">MORE DETAILS <i class="fa-sharp-duotone fa-solid fa-arrow-right-long fa-fade fa-2xl"></i></a>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  <script src="https://kit.fontawesome.com/6aa647ab54.js" crossorigin="anonymous"></script>
</body>
</html>
