<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style/post.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title><%= type %></title>
</head>
<style>
  .p {
    padding-right: 10%;
  }
</style>
<body>
  <header class="navbar navbar-expand-lg bg-black fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">ShureArchitects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <div class="link">
            <form action="/uploaded" method="post">
              <button class="butn" name="upload_type" value="engeneering">مكاتب هندسية</button>
            </form>
          </div>
          <div class="link">
            <form action="/uploaded" method="post">
              <button class="butn" name="upload_type" value="contractor">مقاولات</button>
            </form>
          </div>
          <div class="link">
            <form action="/uploaded" method="post">
              <button class="butn" name="upload_type" value="freelancer">افراد</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <center>

  
  <div class="container mt-5 pt-5">
    <h1 class="title text-center">
      <%= type === 'engeneering' ? 'Engineering Firms' : type === 'contractor' ? 'Contractors' : 'Freelancers' %>
    </h1>
    <hr>
    <div class="content">

      <div class="parent">
        <div class="div1">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% data.images.forEach(function(image, index) { %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index === 0 ? 'active' : '' %>"></li>
              <% }); %>
            </ol>
            <div class="carousel-inner">
              <% data.images.forEach(function(image, index) { %>
              <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img class="d-block w-100" src="data:image/jpeg;base64,<%= image %>" alt="Image">
              </div>
              <% }); %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="div2">
          <div class="d-flex">
            <p class="font-weight-bold mr-2">Name:</p>
            <p><%= data.name %></p>
          </div>
        </div>
        <div class="div3">
          <div class="d-flex">
            <p class="font-weight-bold mr-2">Location:</p>
            <p><%= data.location %></p>
          </div>
        </div>
        <div class="div4">
          <div class="d-flex">
            <p class="font-weight-bold mr-2">Number:</p>
            <p><%= data.number %></p>
          </div>
        </div>
        <div class="div5">
          <div class="d-flex align-items-center" id="rating">
            <p class="font-weight-bold mr-2">Rating:</p>
            <p>under development</p>
          </div>
        </div>
        <div class="div6">
            <div class="">
                <div class="more-details">
                  <h2>More Details</h2>
                </div>
                <div class="">
                  <h4><%= data.details %></h4>
                </div>
              </div>
        </div>

      </div>

    </div>
    <div class="comments mt-5">
      <div class="comments-container">
        <div class="comment-section">
          <h2>Comments</h2>
          <form class="comment-form" name="comment">
            <textarea class="form-control mb-3" placeholder="Write a comment..."></textarea>
            <button type="submit" class="btn btn-primary">Post Comment</button>
          </form>
          <div class="comments">
            <!-- Comments will be displayed here -->
          </div>
        </div>
      </div>
    </div>
  </div></center>
  <script src="https://kit.fontawesome.com/6aa647ab54.js" crossorigin="anonymous"></script>
</body>
</html>
